services:
  db:
    image: mysql:8.0
    container_name: management_user_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "${MYSQL_LOCAL_PORT}:3306" 
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: